.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "ChildWitch";
  src: local("ChildWitch"), url(./assets/ChildWitch.ttf) format("truetype");
}

.header {
  font-family: ChildWitch;
  font-size: 6.5rem;
  color: #c97f1e;
  text-shadow: 2px 2px 4px #000000;
}

body {
  background: linear-gradient(
    47deg,
    hsla(270, 29%, 47%, 1) 0%,
    hsla(271, 34%, 60%, 1) 35%,
    hsla(276, 42%, 75%, 1) 77%,
    hsla(9, 86%, 85%, 1) 90%,
    hsla(29, 83%, 73%, 0.8) 100%
  );

  background: -moz-linear-gradient(
    47deg,
    hsla(270, 29%, 47%, 1) 0%,
    hsla(271, 34%, 60%, 1) 35%,
    hsla(276, 42%, 75%, 1) 77%,
    hsla(9, 86%, 85%, 1) 90%,
    hsla(29, 83%, 73%, 0.8) 100%
  );

  background: -webkit-linear-gradient(
    47deg,
    hsla(270, 29%, 47%, 1) 0%,
    hsla(271, 34%, 60%, 1) 35%,
    hsla(276, 42%, 75%, 1) 77%,
    hsla(9, 86%, 85%, 1) 90%,
    hsla(29, 83%, 73%, 0.8) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/images/bg4.png");
  height: 100vh;
}

.board {
  width: 80%;
  /* background: rgb(255, 255, 255, 0.75); */
  /* background: rgb(53, 56, 62, 0.75); */
  background: rgb(188, 194, 221, 0.35);
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 12px;
}

.board > div {
  margin-left: 8%;
  margin-right: 3.5%;
  padding-bottom: 6%;
  padding-top: 3%;
}

.card img {
  border-radius: 12px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.card {
  max-width: 150px;
  max-height: 150px;
  aspect-ratio: 1/1;
  /* border-radius: 12px; */
  border-color: none;
  padding: 0px;
  border: none;
}

.css-a5rdam-MuiGrid-root > .MuiGrid-item {
  padding-top: 0px !important;
}

.lives {
  font-family: "Saira Condensed", sans-serif;
}
