.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "ChildWitch";
  src: local("ChildWitch"), url(./assets/ChildWitch.ttf) format("truetype");
}

.header {
  font-family: ChildWitch;
  font-size: 6.5rem;
  color: #c97f1e;
  text-shadow: 2px 2px 4px #000000;
}

body {
  background: url("./assets/images/bg4.png") no-repeat center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.board {
  width: 80%;
  /* background: rgb(255, 255, 255, 0.75); */
  /* background: rgb(53, 56, 62, 0.75); */
  background: rgb(188, 194, 221, 0.35);
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 12px;
}

.board > div {
  margin-left: 8%;
  margin-right: 3.5%;
  padding-bottom: 6%;
  padding-top: 3%;
}

.card img {
  border-radius: 13px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.card {
  max-width: 150px;
  max-height: 150px;
  aspect-ratio: 1/1;
  border-color: none;
  padding: 0px;
  border: none;
}

.back {
  border-radius: 14px;
  border-color: #35383e !important;
  border-width: 2px;
}

.css-a5rdam-MuiGrid-root > .MuiGrid-item {
  padding-top: 0px !important;
}

.lives {
  font-family: "Saira Condensed", sans-serif;
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 3.5rem;
  }
}
